<h1>Be adventurous.</h1>
<h2>Create a new hyper-culinary beverage experience.</h2>
<%= render 'form', cocktail: @cocktail %>

<%= link_to 'Back', cocktails_path %>
<p>Find me in app/views/cocktails/new.html.erb</p>
